DX11Game/Debug/temp/winmain.obj
DX11Game/Debug/temp/vc140.pdb
DX11Game/Debug/temp/vc140.idb
DX11Game/Debug/temp/dxerr.obj
DX11Game/Debug/temp/WinGame.obj
DX11Game/Debug/temp/GameTimer.obj
DX11Game/Debug/temp/DXApp.obj
DX11Game/Debug/temp/DX11Game.tlog/link.write.1.tlog
DX11Game/Debug/temp/DX11Game.tlog/link.read.1.tlog
DX11Game/Debug/temp/DX11Game.tlog/link.command.1.tlog
DX11Game/Debug/temp/DX11Game.tlog/DX11Game.lastbuildstate
DX11Game/Debug/temp/DX11Game.tlog/CL.write.1.tlog
DX11Game/Debug/temp/DX11Game.tlog/CL.read.1.tlog
DX11Game/Debug/temp/DX11Game.tlog/CL.command.1.tlog
DX11Game/Debug/temp/DX11Game.log
DX11Game/Debug/temp/Box.obj
DX11Game/Debug/bin/DX11Game.pdb
DX11Game/Debug/bin/DX11Game.ilk
DX11Game/Debug/bin/DX11Game.exe
DX11Game.sdf
DX11Game.opensdf
.vs/DX11Game/v14/.suo
DX11Game/Debug/temp/